body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-akronim: Akronim;
  --font-aladin: Aladin;
  --font-almendra-display: "Almendra Display";
  --font-algerian: Algerian;
  --font-audiowide: Audiowide;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-13xl: 32px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #1e1e1e;
  --color-gray-200: #0a0400;
  --color-gray-300: rgba(30, 30, 30, 0.5);
  --color-gainsboro-100: #e7e7e7;
  --color-whitesmoke: #f9f9f9;
  --main-color: #f2beff;

  /* Gaps */
  --gap-6xs: 7px;
  --gap-mini: 15px;
  --gap-10xs: 3px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-22xl: 41px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-19xl: 38px;
  --padding-8xs: 5px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-11xs: 2px;
  --padding-12xl: 31px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-3xl: 22px;

  /* Effects */
  --drop-style: 0px 10px 30px rgba(244, 142, 72, 0.25);
}
